body {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.checkout {
    height: 60px;
    background-color: #f5f7fa;
    color: #6b6b6b;
    font-size: 14px;
    font-family: "helveticaneuemedium";
}
